@{
    ViewBag.Title = "Shuffle and Deal";
}

@if (ViewBag.Error != null)
{
    <div>
        <h2>Error: Status @ViewBag.Error</h2>
        @ViewBag.ErrorDescription
        <br />
        @ViewBag.Data
    </div>
}
else
{

    for (int i = 0; i < ViewBag.Cards.Count; i++)

    {
        <img src="@ViewBag.Cards[i].image" style="width: 200px; height: auto; margin-top: 40px; margin-right: 10px; margin-left: 10px;" />
        
    }    

    <b>Remaining Cards: </b>@ViewBag.Remaining<br />

    <b>Deck Id:</b> @Session["DeckID"]



}
