@{
    ViewBag.Title = "Shuffle and Deal";
}

@if (ViewBag.Error != null)
{
    <div>
        <h2>Error: Status @ViewBag.Error</h2>
        @ViewBag.ErrorDescription
        <br />
        @ViewBag.Data
    </div>
}
else
{

    for (int i = 0; i < ViewBag.Cards.Count; i++)

    {


       
        <img src="@ViewBag.Cards[i].image" style="width: 200px; height: auto; margin-top: 40px; margin-right: 10px; margin-left: 10px;" />




    }
        <table class="table table-bordered table-condensed table-hover table-striped table-responsive">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @for (int i = 0; i < ViewBag.Cards.Count; i++)

            {

            <tr>
                <td>@ViewBag.Cards[i].value</td>
                <td>@ViewBag.Cards[i].suit</td>
            </tr>
            }

        </table>



}
